<!DOCTYPE html>
<html lang="en">
	<head>
        {{#if result.kb_seo_title}}
        <title>{{result.kb_seo_title}}</title>
        <meta property="og:title" content="{{result.kb_seo_title}}" />
        {{else}}
        {{#if result.kb_title}}
        <title>{{result.kb_title}}</title>
        <meta property="og:title" content="{{result.kb_title}}" />
        {{else}}
        <title>{{title}}</title>
        <meta property="og:title" content="{{title}}" />
        {{/if}}
        {{/if}}
	    <meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        {{#if result.kb_seo_description}}
		<meta name="description" content="{{result.kb_seo_description}}">
        <meta property="og:description" content="{{result.kb_seo_description}}" />
        {{else}}
        {{#if result.kb_body}}
        <meta name="description" content="{{substring (strip_md result.kb_body) 160}}">
        <meta property="og:description" content="{{substring (strip_md result.kb_body) 160}}" />
        {{else}}
        {{#ifCond homepage '===' true}}
        <meta name="description" content="{{config.settings.website_description}}">
        <meta property="og:description" content="{{config.settings.website_description}}" />
        {{else}}
        <meta name="description" content="{{__ "Powered by"}} openKB">
        <meta property="og:description" content="{{__ "Powered by"}} openKB" />
        {{/ifCond}}
        {{/if}}
        {{/if}}
        {{#if result.kb_keywords}}
		<meta name="keywords" content="{{result.kb_keywords}}">
        {{else}}
        <meta name="keywords" content="openKB">
        {{/if}}
        <meta property="og:type" content="article" />
        <meta property="og:image" content="{{current_url}}/logo.png" />
        <meta property="og:url" content="{{fullUrl}}" />
        <link rel="canonical" href="{{fullUrl}}" />
		<link rel="stylesheet" href="{{app_context}}/stylesheets/flatly.bootstrap.min.css">
        <link rel="stylesheet" href="{{app_context}}/simplemde/simplemde.min.css">
        <link rel="stylesheet" href="{{app_context}}/stylesheets/github.css">
		<link rel="stylesheet" href="{{app_context}}/stylesheets/style.css">
		<link rel="stylesheet" href="{{app_context}}/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="{{app_context}}/stylesheets/mermaid.css">
		<link rel="stylesheet" href="{{app_context}}/stylesheets/bootstrap-tokenfield.css">
        <link rel="stylesheet" href="{{app_context}}/stylesheets/jasny-bootstrap.min.css">
        <link rel="stylesheet" href="{{app_context}}/stylesheets/jpushmenu.css">
        <link rel='icon' href='{{app_context}}/favicon.png' />
		<script src="{{app_context}}/jquery/jquery.min.js"></script>
        <script>{{{state}}}</script>
		<script src="{{app_context}}/bootstrap/js/bootstrap.min.js"></script>
        {{#ifCond title '===' 'Settings'}}
        <script src="{{app_context}}/bootstrapTabs/tab.js"></script>
        {{/ifCond}}
        <script src="{{app_context}}/javascripts/bootstrap-validator.js"></script>
        {{#ifCond config.settings.enable_mermaid_charts '===' true}}
		<script src="{{app_context}}/javascripts/mermaid.min.js"></script>
        {{/ifCond}}
		<script src="{{app_context}}/javascripts/markdown-it-classy.js"></script>
		<script src="{{app_context}}/javascripts/bootstrap-tokenfield.min.js"></script>
        <script src="{{app_context}}/javascripts/inline-attachment.js"></script>
		<script src="{{app_context}}/javascripts/codemirror.inline-attachment.js"></script>
        <script src="{{app_context}}/javascripts/highlight.min.js"></script>
        <script src="{{app_context}}/javascripts/loadingoverlay.min.js"></script>
        <script src="{{app_context}}/simplemde/simplemde.min.js"></script>
        <script src="{{app_context}}/javascripts/jasny-bootstrap.min.js"></script>
		<script src="{{app_context}}/markdown-it/markdown-it.min.js"></script>
        {{#ifCond config.settings.typeahead_search '===' true}}
        <script src="{{app_context}}/lunr/lunr.min.js"></script>
        {{/ifCond}}
        <script src="{{app_context}}/javascripts/jpushmenu.js"></script>
		<script src="{{app_context}}/javascripts/openKB.js"></script>
        {{#ifCond user_page '===' true}}
        {{#if config.settings.google_analytics}}
        {{{config.settings.google_analytics}}}
        {{/if}}
        {{/ifCond}}
	</head>
	<body class="{{show_footer}}">
		<!-- Static navbar -->
	    <nav class="navbar navbar-default navbar-static-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">{{__ "Toggle navigation"}}</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
                    {{#ifCond config.settings.show_website_logo '===' true}}
                    <a class="navbar-brand brand-image" href="{{app_context}}/"><img src="{{app_context}}/static/logo.png" width="140"></a>
                    {{else}}
                        {{#ifCond config.settings.website_title '===' 'openKB'}}
                        <a class="navbar-brand brand-image" href="{{app_context}}/"><img src="{{app_context}}/static/logo.png" width="140"></a>
                        {{else}}
                        <a class="navbar-brand" href="{{app_context}}/">{{config.settings.website_title}}</a>
                        {{/ifCond}}
                    {{/ifCond}}
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						{{#if session.user}}
							{{#if result._id}}
								<li><a href="{{app_context}}/edit/{{result._id}}">{{__ "Edit"}}</a></li>
							{{/if}}
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{__ "Users"}} <span class="caret"></span></a>
								<ul class="dropdown-menu">
                                    {{#ifCond session.is_admin '==' 'true'}}
									<li><a href="{{app_context}}/users/new"><i class="fa fa-user-plus fa-fw"></i>&nbsp; {{__ "New"}}</a></li>
									<li><a href="{{app_context}}/users"><i class="fa fa-users fa-fw"></i>&nbsp; {{__ "Edit"}}</a></li>
                                    {{/ifCond}}
									<li><a href="{{app_context}}/user/edit/{{session.user_id}}"><i class="fa fa-user fa-fw"></i>&nbsp; {{__ "My account"}}</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{__ "Article"}} <span class="caret"></span></a>
                                <ul class="dropdown-menu">
									<li><a href="{{app_context}}/insert"><i class="fa fa-plus fa-fw"></i>&nbsp; {{__ "New"}}</a></li>
									<li><a href="{{app_context}}/articles"><i class="fa fa-pencil fa-fw"></i>&nbsp; {{__ "Edit"}}</a></li>
								</ul>
							</li>
                            {{#ifCond session.is_admin '==' 'true'}}
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
								<ul class="dropdown-menu">
                                    <li><a href="{{app_context}}/settings"><i class="fa fa-cog fa-fw"></i>&nbsp; {{__ "Settings"}}</a></li>
									<li><a href="{{app_context}}/files"><i class="fa fa-files-o fa-fw"></i>&nbsp; {{__ "Files"}}</a></li>
                                    <li><a href="{{app_context}}/import"><i class="fa fa-upload fa-fw"></i>&nbsp; {{__ "Import"}}</a></li>
									<li><a href="{{app_context}}/export"><i class="fa fa-file-archive-o fa-fw"></i>&nbsp; {{__ "Export"}}</a></li>
									<li><a href="{{app_context}}/file_cleanup"><i class="fa fa-trash fa-fw"></i>&nbsp; {{__ "Cleanup files"}}</a></li>
								</ul>
							</li>
                            {{/ifCond}}
                            <li><a href="{{app_context}}/logout">{{__ "Logout"}}</a></li>
						{{else}}
							{{#if config.settings.suggest_allowed}}
								<li><a href="{{app_context}}/suggest">{{__ "Suggest"}}</a></li>
							{{/if}}
                            {{#ifCond config.settings.show_logon '==' true}}
							    <li><a href="{{app_context}}/login">{{__ "Login"}}</a></li>
                            {{/ifCond}}
						{{/if}}
					</ul>
				</div>
	      </div>
	    </nav>
		<div class="container-fluid">
			{{{body}}}
		</div>
		<input type="hidden" id="input_notify_message" value="{{message}}">
		<input type="hidden" id="input_notify_message_type" value="{{message_type}}">
        <input type="hidden" value="{{app_context}}" id="app_context">
        <input type="hidden" value="{{config.settings.links_blank_page}}" id="blank_links">
		<div id="notify_message"></div>
		{{#if show_footer}}
			<footer class="footer">
				<div class="container">
					<p class="text-muted">{{__ "Powered by"}} openKB</p>
				</div>
			</footer>
		{{/if}}
	</body>
</html>
