<div class="row searchBar">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">{{config.settings.website_title}}</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {{#if session.user}}
                        {{#if result._id}}
                            <li><a href="/edit/{{result._id}}">Edit</a></li>
                        {{/if}}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Users <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/users/new"><i class="fa fa-user-plus fa-fw"></i>&nbsp; New</a></li>
                                <li><a href="/users"><i class="fa fa-users fa-fw"></i>&nbsp; Edit</a></li>
                                <li><a href="/user/edit/{{session.user_id}}"><i class="fa fa-user fa-fw"></i>&nbsp; My account</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Article <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/insert"><i class="fa fa-plus fa-fw"></i>&nbsp; New</a></li>
                                <li><a href="/articles"><i class="fa fa-pencil fa-fw"></i>&nbsp; Edit</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/files"><i class="fa fa-files-o fa-fw"></i>&nbsp; Files</a></li>
                                <li><a href="/export"><i class="fa fa-file-archive-o fa-fw"></i>&nbsp; Export</a></li>
                                <li><a href="/file_cleanup"><i class="fa fa-trash fa-fw"></i>&nbsp; Cleanup files</a></li>
                            </ul>
                        </li>
                        <li><a href="/logout">Logout</a></li>
                    {{else}}
                        {{#if config.settings.suggest_allowed}}
                            <li><a href="/suggest">Suggest</a></li>
                        {{/if}}
                        <li><a href="/login">Login</a></li>
                    {{/if}}	
                </ul>
            </div>
        </div>
    </nav>	
    <div class="">
        <h1>Help Center</h1>
    </div>
	<form action="{{app_context}}/search" id="search_form" method="post">
        {{#if config.settings.show_featured_articles}}
		    <div class="col-md-4 col-md-offset-4 search_bar">
        {{else}}
            <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 search_bar">
        {{/if}}
			<div class="input-group">
				<input type="text" name="frm_search" id="frm_search" class="form-control input-lg" placeholder="search">
				<span class="input-group-btn">
					<button class="btn btn-default btn-lg" id="btn_search" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
				</span>
			</div>
		</div>
	</form>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
        <h2 class="text-center">Twitter Support</h2>
        <p class="subheading">Get instant answers for the most common questions and learn how to use 140 characters like a pro.</p>
    </div>
</div>
<div class="row">
    {{#if config.settings.show_featured_articles}}
        <div class="row featuredArticles">
            <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                {{#each featured_results}}
                    <div class="col-md-3 col-lg-3">
                        <div class="panel panel-default">
                            <div class="panel-body featuredPanel">
                                <h4>{{this.kb_title}}</h4>
                            </div>
                             <div class="panel-footer featuredArticlesFooter">
                                {{#if this.kb_permalink}}
                                    <a href="/{{@root.config.settings.route_name}}/{{this.kb_permalink}}">MORE</a>
                                {{else}}
                                    <a href="/{{@root.config.settings.route_name}}kb/{{this._id}}">MORE</a>
                                {{/if}}  
                            </div>
                        </div>
                    </div>
                {{/each}}       
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
    {{else}}
        <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
    {{/if}}
		{{#if search_results.length}}
			<div class="panel panel-default" style="margin-top: 30px;">
				<div class="panel-heading">Results for: {{search_term}}</div>
				<div class="panel-body">
					<ul class="list-group">
						{{#each search_results}}
							{{#if this.kb_permalink}}
								<li class="list-group-item">
									<h4>
										<a href="/{{@root.config.settings.route_name}}/{{this.kb_permalink}}">{{this.kb_title}}</a>
                                        {{#if @root.config.settings.show_published_date}}
                                            {{#if @root.config.settings.show_view_count}}
                                                <span class="pull-right view_count">&nbsp; / <strong>Date:</strong> {{format_date this.kb_published_date}}</span>
                                            {{else}}
                                                <span class="pull-right view_count"><strong>Date:</strong> {{format_date this.kb_published_date}}</span>
                                            {{/if}}
                                        {{/if}}
										{{#if @root.config.settings.show_view_count}}
                                            <span class="pull-right view_count"><strong>View count:</strong> {{view_count this.kb_viewcount}}</span>
										{{/if}}
									</h4>
								</li>
							{{else}}
								<li class="list-group-item">
									<h4>
										<a href="/{{@root.config.settings.route_name}}/{{this._id}}">{{this.kb_title}}</a>
                                        {{#if @root.config.settings.show_published_date}}
                                            {{#if @root.config.settings.show_view_count}}
                                                <span class="pull-right view_count">&nbsp; / <strong>Date:</strong> {{format_date this.kb_published_date}}</span>
                                            {{else}}
                                                <span class="pull-right view_count"><strong>Date:</strong> {{format_date this.kb_published_date}}</span>
                                            {{/if}}
                                        {{/if}}
										{{#if @root.config.settings.show_view_count}}
                                            <span class="pull-right view_count"><strong>View count: </strong>{{view_count this.kb_viewcount}}</span>
										{{/if}}
									</h4>
								</li>
							{{/if}}
						{{/each}}
					</ul>
				</div>
			</div>
		{{else}}
			<div class="panel panel-default" style="margin-top: 30px;">
				<div class="panel-heading">Trending topics</div>
				<div class="panel-body">
					<ul class="list-group">
						{{#each top_results}}
							 <li class="list-group-item">
								 <h4>
									{{#if kb_permalink}}
										<a href="/{{@root.config.settings.route_name}}/{{this.kb_permalink}}">{{this.kb_title}}</a>
									{{else}}
										<a href="/{{@root.config.settings.route_name}}/{{this._id}}">{{this.kb_title}}</a>
									{{/if}}
                                    {{#if @root.config.settings.show_published_date}}
                                        {{#if @root.config.settings.show_view_count}}
                                            <span class="pull-right view_count">&nbsp; / <strong>Date:</strong> {{format_date this.kb_published_date}}</span>
                                        {{else}}
                                            <span class="pull-right view_count"><strong>Date:</strong> {{format_date this.kb_published_date}}</span>
                                        {{/if}}
                                    {{/if}}
									{{#if @root.config.settings.show_view_count}}
								 		<span class="pull-right view_count"><strong>View count:</strong> {{view_count this.kb_viewcount}}</span>
									{{/if}}
									{{#if this.kb_password}}
										<span class="pull-right view_count" style="padding-right: 5px;"><i class="fa fa-key"></i></span>
									{{/if}}
								 </h4>
							 </li>
						{{/each}}
					</ul>
				</div>
			</div>
		{{/if}}
	</div>
</div>