<div class="col-md-12">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			{{#if message}}
				<div class="alert alert-{{ message_type}} alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					{{message}}
				</div>
			{{/if}}
			<ol class="breadcrumb">
	  			<li><a href="/">Home</a></li>
	 			<li class="active">Files</li>
			</ol>
			<h1>Files</h1>
			<form class="form-inline" role="form" method="post" action="/file/upload" enctype="multipart/form-data" style="padding-bottom: 15px;">
				<div class="form-group">
					<input type="file" name="image_file" id="image_file">
				</div>
				<button type="submit" class="btn btn-primary">upload</button>
			</form>
			<ul class="list-group">
				{{#each files}}
					<li class="list-group-item" id="img-{{this.id}}">
						<span><i class="fa fa-file-image-o"></i></span>
						<span class="align-left"><a class="imgPreview" href="{{this.path}}">{{this.path}}</a></span>
						<span class="pull-right" style="padding-left: 10px;"><button class="btn btn-danger btn-xs" onclick="file_delete_confirm('{{this.path}}','{{this.id}}')"><i class="fa fa-trash-o"></i></button></span>
					</li>
				{{/each}}
			</ul>
		</div>
	</div>
</div>