<div class="row">
	<form action="/search" id="search_form" method="post">
		<div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 search_bar">
			<div class="input-group">
				<input type="text" name="frm_search" id="frm_search" class="form-control input-lg" placeholder="Search the knowledge base">
				<span class="input-group-btn">
					<button class="btn btn-success btn-lg" id="btn_search" type="submit">Search</button>
				</span>
			</div>
		</div>
	</form>
</div>
<div class="row">
	<div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
		{{#if results.length}}
			<div class="panel panel-default" style="margin-top: 30px;">
				<div class="panel-heading">Results for: {{search_term}}</div>
				<div class="panel-body">
					<ul class="list-group">
						{{#each results}}
							{{#if this.kb_permalink}}
								<li class="list-group-item">
									<h4>
										<a href="/kb/{{this.kb_permalink}}">{{this.kb_title}}</a>
										{{#if ../../config.settings.show_view_count}}
												<span class="pull-right view_count">View count: {{view_count this.kb_viewcount}}</span>
										{{/if}}
									</h4>
								</li>
							{{else}}
								<li class="list-group-item">
									<h4>
										<a href="/kb/{{this._id}}">{{this.kb_title}}</a>
										{{#if ../../config.settings.show_view_count}}
												<span class="pull-right view_count">View count: {{view_count this.kb_viewcount}}</span>
										{{/if}}
									</h4>
								</li>
							{{/if}}
						{{/each}}
					</ul>
				</div>
			</div>
		{{else}}
			{{#if featured_tags.length}}
				<div class="panel panel-default" style="margin-top: 30px;">
					<div class="panel-heading">Featured tags</div>
					<div class="panel-body">
						{{#each featured_tags}}
							<div class="row">
								{{#each this}}
									<div class="col-md-4">
										<div class="panel panel-default">
											<div class="panel-heading"><a href="/searchtag/{{this.keyword}}">{{this.keyword}}</a></div>
											<table class="table">
												{{#each this.results}}
													<tr><td>
														{{#if kb_permalink}}
															<a href="/kb/{{this.kb_permalink}}">{{this.kb_title}}</a>
														{{else}}
															<a href="/kb/{{this._id}}">{{this.kb_title}}</a>
														{{/if}}
													</td></tr>
												{{/each}}
											</table>
										</div>
									</div>
								{{/each}}
							</div>
						{{/each}}
					</div>
				</div>
			{{/if}}
			<div class="panel panel-default" style="margin-top: 30px;">
				<div class="panel-heading">Top articles</div>
				<div class="panel-body">
					<ul class="list-group">
						{{#each top_results}}
							 <li class="list-group-item">
								 <h4>
									{{#if kb_permalink}}
										<a href="/kb/{{this.kb_permalink}}">{{this.kb_title}}</a>
									{{else}}
										<a href="/kb/{{this._id}}">{{this.kb_title}}</a>
									{{/if}}

									{{#if ../config.settings.show_view_count}}
								 		<span class="pull-right view_count">View count: {{view_count this.kb_viewcount}}</span>
									{{/if}}
									{{#if this.kb_password}}
										<span class="pull-right view_count" style="padding-right: 5px;"><i class="fa fa-key"></i></span>
									{{/if}}
								 </h4>
							 </li>
						{{/each}}
					</ul>
				</div>
			</div>
		{{/if}}
	</div>
</div>
