<div class="row">
	<form action="/search" id="search_form" method="post">
		<div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 search_bar">
			<div class="input-group">
				<input type="text" name="frm_search" id="frm_search" class="form-control input-lg" placeholder="Search the knowledge base">
				<span class="input-group-btn">
					<button class="btn btn-success btn-lg" id="btn_search" type="submit">Search</button>
				</span>
			</div>
		</div>
	</form>
</div>
<div class="row">
	<div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
		<h1 style="padding-bottom: 25px;padding-top: 15px;">{{result.kb_title}}</h1>
		<div class="body_text">
            {{{kb_body}}}
        </div>
		{{#if config.settings.show_kb_meta}}
			<div class="panel panel-primary" style="margin-top: 35px;">
				<div class="panel-heading">Article details:</div>
				<div class="panel-body">
                    <h5 class="col-sm-12 col-lg-6">
						<strong>Published date:</strong> {{format_date result.kb_published_date}}
					</h5>
					<h5 class="col-sm-12 col-lg-6">
						<strong>Last updated:</strong> {{format_date result.kb_last_updated}}
                        {{#if result.kb_last_update_user}}
                            <span class="text-info">({{result.kb_last_update_user}})</span>
                        {{/if}}
					</h5>
                    {{#if result.kb_permalink}}
                        <h5 class="col-sm-12 col-lg-6">
                            <strong>Share article:</strong>&nbsp;<a href="mailto:?subject={{result.kb_title}}&body={{encodeURI current_url}}/kb/{{encodeURI result.kb_permalink}}" target="_top"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                        </h5>
                    {{else}}
                        <h5 class="col-sm-12 col-lg-6">
						    <strong>Share article:</strong>&nbsp;<a href="mailto:?subject={{result.kb_title}}&body={{encodeURI current_url}}/kb/{{result._id}}" target="_top"><i class="fa fa-envelope" aria-hidden="true"></i></a>
					    </h5>
                    {{/if}}
                    {{#if result.kb_author}}
                        <h5 class="col-sm-12 col-lg-6">
                            <strong>Author:</strong> <span class="text-info">{{result.kb_author}} {{#if config.settings.show_author_email}}({{result.kb_author_email}}){{/if}}</span>
                        </h5>
                    {{/if}}
					{{#if result.kb_permalink}}
					<h5 class="col-sm-12 col-lg-6">
						<strong>Permalink:</strong> <a href="{{current_url}}/kb/{{result.kb_permalink}}" target="_blank">{{current_url}}/kb/{{result.kb_permalink}}</a>
					</h5>
					{{/if}}
				</div>
			</div>
		{{/if}}
		<h5 class="keywords">
			{{{split_keywords result.kb_keywords}}}
		</h5>
	</div>
</div>