<div class="col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4" style="padding-top: 100px">
	<form class="form-signin" action="{{app_context}}/protected/action" method="post" role="form">
		<input type="hidden" name="frm_referring_url" value="{{referring_url}}">
		<h2 class="form-signin-heading" div align="center">{{__ "This article is locked"}}</h2>
		<h4 div align="center">{{__ "Please enter the password to gain access"}}</h4>
		<div class="form-group">
			<input type="password" name="password" class="form-control" placeholder="Password" value="" required>
			<input type="hidden" name="kb_id" value="{{result._id}}" required>
		</div>
		<button class="btn btn-lg btn-primary btn-block" type="submit">{{__ "Authenticate"}}</button>
	</form>
</div>
