<div class="col-md-12">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<ol class="breadcrumb">
	  			<li><a href="{{app_context}}/">Home</a></li>
	  			<li class="active">Settings</li>
			</ol>
            <form method="post" action="/update_settings">
                <div class="clearfix">
                    <h1 class="pull-left">Settings</h1>
                    <div class="pull-right">
                        <button class="btn btn-success" type="submit">Update</button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="website_title">Website title:</label>
                    <input type="text" class="form-control" name="website_title" value="{{config.settings.website_title}}" required>
                    <p class="help-block">
                        The title of your website
                    </p>	
                </div>
                <div class="form-group">
                    <label class="control-label" for="app_context">Website context/base URL:</label>
                    <input type="text" class="form-control" name="app_context" value="{{config.settings.app_context}}" >
                    <p class="help-block">
                        Allows for the website to be run from a non root path. Eg: http://127.0.0.1:4444/openkb/
                    </p>	
                </div>
                <div class="form-group">
                    <label class="control-label" for="password_protect">Password protect:</label>
                    <select class="form-control" name="password_protect">
                        <option {{select_state config.settings.password_protect true}}>true</option>
                        <option {{select_state config.settings.password_protect false}}>false</option>
                    </select>
                    <p class="help-block">
                        Setting to "true" will require a user to login before viewing any pages
                    </p>
                </div>
                <div class="form-group">
                    <label class="control-label" for="date_format">Date format:</label>
                    <input type="text" class="form-control" name="date_format" value="{{config.settings.date_format}}" required>
                    <p class="help-block">
                        Sets the global date formatting. Uses moment.js date formatting, see more here: http://momentjs.com/docs/#/displaying
                    </p>	
                </div>
                <div class="form-group">
                    <label class="control-label" for="num_top_results">Number of top articles shown on homepage:</label>
                    <input type="number" class="form-control" name="num_top_results" value="{{config.settings.num_top_results}}" required>
                    <p class="help-block">
                        Sets the number of results shown on the home page
                    </p>	
                </div>
                <div class="form-group">
                    <label class="control-label" for="show_published_date">Show published date:</label>
                    <select class="form-control" name="show_published_date">
                        <option {{select_state config.settings.show_published_date true}}>true</option>
                        <option {{select_state config.settings.show_published_date false}}>false</option>
                    </select>
                    <p class="help-block">
                        Shows the published date next to the results on the homepage and search
                    </p>	
                </div>
                <div class="form-group">
                    <label class="control-label" for="show_view_count">Show view count:</label>
                    <select class="form-control" name="show_view_count">
                        <option {{select_state config.settings.show_view_count true}}>true</option>
                        <option {{select_state config.settings.show_view_count false}}>false</option>
                    </select>
                    <p class="help-block">
                        Shows the view count next to the results on the homepage and search
                    </p>	
                </div>
                <div class="form-group">
                    <label class="control-label" for="show_featured_articles">Show featured articles:</label>
                    <select class="form-control" name="show_featured_articles">
                        <option {{select_state config.settings.show_featured_articles true}}>true</option>
                        <option {{select_state config.settings.show_featured_articles false}}>false</option>
                    </select>
                    <p class="help-block">
                        Whether to show any articles set to featured in a sidebar
                    </p>	
                </div>
                <div class="form-group">
                    <label class="control-label" for="show_featured_in_article">Show featured articles when viewing article:</label>
                    <select class="form-control" name="show_featured_in_article">
                        <option {{select_state config.settings.show_featured_in_article true}}>true</option>
                        <option {{select_state config.settings.show_featured_in_article false}}>false</option>
                    </select>
                    <p class="help-block">
                        Whether to show any articles set to featured in a sidebar when viewing an article
                    </p>	
                </div>
                <div class="form-group">
                    <label class="control-label" for="featured_articles_count">Featured article count:</label>
                    <input type="number" class="form-control" name="featured_articles_count" value="{{config.settings.featured_articles_count}}" required>
                    <p class="help-block">
                        The number of featured articles shown
                    </p>	
                </div>
                <div class="form-group">
                    <label class="control-label" for="show_kb_meta">Show article meta data:</label>
                    <select class="form-control" name="show_kb_meta">
                        <option {{select_state config.settings.show_kb_meta true}}>true</option>
                        <option {{select_state config.settings.show_kb_meta false}}>false</option>
                    </select>
                    <p class="help-block">
                        Whether to show article meta data including published date, last updated date, author etc
                    </p>	
                </div>
                <div class="form-group">
                    <label class="control-label" for="suggest_allowed">Article suggestions allowed:</label>
                    <select class="form-control" name="suggest_allowed">
                        <option {{select_state config.settings.suggest_allowed true}}>true</option>
                        <option {{select_state config.settings.suggest_allowed false}}>false</option>
                    </select>
                    <p class="help-block">
                        If enabled non authenticated users can submit article suggestions for approval
                    </p>	
                </div>
                <div class="form-group">
                    <label class="control-label" for="show_author_email">Show author email:</label>
                    <select class="form-control" name="show_author_email">
                        <option {{select_state config.settings.show_author_email true}}>true</option>
                        <option {{select_state config.settings.show_author_email false}}>false</option>
                    </select>
                    <p class="help-block">
                        Controls whether the authors email address is displayed in the meta. Requires "Show article meta data" to be true.
                    </p>	
                </div>
                <div class="form-group">
                    <label class="control-label" for="links_blank_page">Article links open new page:</label>
                    <select class="form-control" name="links_blank_page">
                        <option {{select_state config.settings.links_blank_page true}}>true</option>
                        <option {{select_state config.settings.links_blank_page false}}>false</option>
                    </select>
                    <p class="help-block">
                        Controls whether links within articles open a new page (tab)
                    </p>	
                </div>
            </form>
		</div>
	</div>
</div>